.cards{
    display: flex;
    height: 300px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 20px 0;
}
.cards:hover{
    transform: scale(1.1);
}
.cards .img{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    height: 320px;
    flex-wrap: 1;
    border-radius: 5px;
}
.cards p, .cards h3{
    color: #ffb218;
    font-weight: 700;
    font-size: 15px;
}
.cards h3{
    color: #ffffff;
    margin: 0; 
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerButtonDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    
    height: 35px
}
.img button{
    background-color: rgb(161, 114, 204);
    margin: 0 8px 8px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.img button:hover{
    background-color: rgb(115, 62, 165);
}
.infos{
    display: flex;
    margin: auto 10px 0 10px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

